th{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

td{
    text-align: center;
}

span{
    font-size: larger;
}

h5{
    font-family: 'Times New Roman', Times, serif;
    font-size: larger;
}